@charset "utf-8";
// ===================================================================
// レイアウト関係のスタイル
// ===================================================================


/*----------------------------------------------------
	ヘッダー
----------------------------------------------------*/
#header {
	width: $base_width;
	/*margin-bottom: $base_margin_bottom;*/
	
	#nav {
		@extend .clearfix;
		li {
			float: left;
		}
	}
	height: $parts_height;
	overflow:hidden;
	position:fixed;
	z-index:1;

}

#header:before {
	background: $sub_color;
	content:"";
	width : 120%;
	height: $parts_height;
	@include rotate(-$rotate_value);
	position: fixed;
	top:-13%;
	left:-10%;
	z-index:-1;
}


/*----------------------------------------------------
	フッター
----------------------------------------------------*/
#footer {
	@extend .clearfix;
	bottom:0;
	width: $base_width;
	
	.copyright {
		text-align: center;
	}

	height:$parts_height;
	overflow:hidden;
	position:fixed;
	z-index:1;

}
#footer:before {
	background: $accent_color;
	content:"";
	width : 120%;
	height: $parts_height;
	@include rotate(180-$rotate_value);
	position: fixed;
	bottom:-13%;
	left:-10%;
	z-index:-1;	
}


