<% include common/_header %>
  <% include common/_headmenu %>
    <body>

    <!-- start contents -->
    <div id="main">
        <% include common/_station01 %>
        <% include common/_station02 %>
        <% include common/_station03 %>
        <% include common/_station04 %>
    </div>

<% include common/_contact %>
<% include common/_footer %>
<% include common/_script %>
